<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Excel Classes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="image/favicon.png" type="image/png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <style>
    .imgset {
      height: 40%;
      width: 40%;
    }
    .hset{
      margin-left:5%;
    }
  </style>
</head>

<body>
  <br>
  <input type="button" value="< BACK" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 1em; font-weight:300; margin-left: 1.5em;" onclick="history.back(-1)" />
  <div class="text-center">
    <form class="" action="ansbycode" method="post">
      <input style="display:none;" type="text" name="id" value="<%=items._id%>">
      <label for="code">Code</label>
      <input type="text" name="code" value="">
      <button type="submit" class="btn btn-danger" name="button">Submit</button>
    </form>
  </div>
  <hr>
  <div class="text-center">
    <br>
    <h6  class="text-left hset">QUESTION : </h6> <p><%=items.question%></p>
    <%if(items.qImage){%>
    <div class="text-center">
      <br><a href="downloadquesimage?i=<%=items._id%>"><img class="imgset" src="data:image/<%=items.qImage.contentType%>;base64,
                     <%=items.qImage.toString('base64')%>"></a>
                     <p>Click on Image to Download </p>
    </div>
    <%}else{%>
    <br>
    <div class="text-center">
      <p>No Image</p>
    </div>
    <%}%>
  </div>
  <hr>
  <h6 class="text-left hset">ANSWER</h6>
<%if(items.status<3){%>
  <div id="form" class="text-center">
<form class="" action="/answer" enctype="multipart/form-data" method="post">
  <input style="display:none;" type="text" name="id" value=<%=items._id%>>
  <textarea rows="6" name="answer" placeholder="Type Answer" cols="80"></textarea> <br><br>
  <label for="answer">Answer Image</label>
  <input type="file" name="aImage" accept="image/jpeg">
  <button type="submit" class="btn btn-primary" name="button">Answer</button>
</form>
  </div>
    <%}else{%>
  <div id="editform" class="text-center">
    <form class="" action="/editanswer" enctype="multipart/form-data" method="post">
      <input style="display:none;" type="text" name="id" value=<%=itemss._id%>>
      <textarea rows="6" name="answer" cols="80"><%=itemss.answer%></textarea> <br>
      <a style="margin-top:10px;"class="btn btn-info" href="downloadansimage?i=<%=itemss._id%>">Answer Image</a><br>
      <div style="margin-top:10px;">
        <label for="answer">Replace Image</label>
        <input type="file" name="aImage" accept="image/jpeg">
        <button type="submit" class="btn btn-primary" name="button">Edit Answer</button>
      </div>
    </form>
  </div>
    <%}%>
</body>

</html>
