<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Excel Classes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="image/favicon.png" type="image/png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/admin.css">
  <link rel="stylesheet" type="text/css" href="/public/css/stuprof-style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <style>
    .set-button {
      padding-left: 5px;
      padding-right: 5px;
    }

    select {
      margin-bottom: 5px;
      margin-right: 5px;
    }
  </style>
</head>

<body>
  <br><br>
  <div class="body-container" id="profile">
    <div class="container">
      <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
          <ol class="breadcrumb">

            <% if (option==1){%>
            <li class="breadcrumb-item active" aria-current="page"> New User Profile</li><br>
            <%}else {%>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li><br>
            <%}%>
          </ol>
        </nav>
        <!-- /Breadcrumb -->
        <p style="color:#87CEEB"><%=message%></p>
            <div class="row gutters-sm">
              <div class="col-md-4 mb-3">
                <div class="card">

                  <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">

                      <a href="profile?index=<%=items._id%>"><img class="imgset" alt="Student" class="rounded-circle" width="150" src="data:image/<%=items.img_pic.contentType%>;base64,
                                           <%=items.img_pic.toString('base64')%>"></a>
                      <div class="mt-3">
                        <h4><%= items.first_name %></h4>
                        <p class="text-secondary mb-1">Learner</p>
                        <p class="text-muted font-size-sm">Batch- <%= items.batch %><br><%= items.course %></p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-8">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <%= items.first_name + " "+items.last_name %>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <%= items.email %>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Phone</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <%= items.phone %>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Parent's Name</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <%= items.prtname %>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Address</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <%= items.address %>,<%= items.city %>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="row">
                          <% if (option==1){%>
                          <a class="col-sm-6 btn btn-info set-button" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Course & Plan
                          </a>
                          <% }%>
                          <a class="btn btn-success col-sm-6 set-button" id="notify" href="notify?index=<%=items._id%>">Notify User</a>
                        </div>
                        <div class="collapse" id="collapseExample">
                          <div class="card card-body">
                            <form class="" action="newstudentcourse" method="post">
                              <input style="display:none;" type="text" name="email" value=<%= items.email%>>
                              <div class="row">
                                <div class="col-lg-3 col-md-6">
                                  <select name="course" class="form-select">
                                    <option>Select Course</option>
                                    <option value="1">1 Year Course</option>
                                    <option value="2">2 Year Course</option>
                                  </select>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                  <select class="form-select" name="batch">
                                    <option>Select Batch</option>
                                    <%itemss.forEach(function(batch) { %>
                                    <option value=<%=batch.batchId%>><%=batch.batchId%>&nbsp;-&nbsp;&nbsp;&nbsp;<%=batch.studentCount%></option>
                                    <%})%>
                                  </select>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                  <select name="plan" class="form-select">
                                    <option selected>Select Plan</option>
                                    <option value="1">1 Installment</option>
                                    <option value="2">2 Installment</option>
                                    <option value="3">3 Installment</option>
                                  </select>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                  <select name="paid" class="form-select">
                                    <option>Paid</option>
                                    <option value="1">1 Installment</option>
                                    <option value="2">No Due</option>
                                  </select>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                  <button type="submit" class="btn btn-primary">Register</button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</body>

</html>
