<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ExcelJEE | Salary List</title>
  <link rel="shortcut icon" href="image/favicon.png" type="image/png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <style>
    body {
      color: black
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 80%;
      margin-left: 9%;
    }
    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 6px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

  </style>
</head>

<body class="text-center">
<br>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title" >Salary</h3>
    <table>
      <tr>
        <th>Month</th>
        <th>No. of students</th>
        <th>Sales</th>
      </tr>
      <% items.forEach(function(salary) { %>
        <tr>
            <td><%= salary.month %></td>      
        </tr>
    <% }) %>
  <!-- <% items.forEach(function(timetable) { %>
      <tr>
        <td><%= timetable.topic %></td>
        <td><%= timetable.desc %></td>
        <td><%= timetable.date %>/<%= timetable.month %>/<%= timetable.year %></td>
        <td><%= timetable.start_hour %>:<%= timetable.start_min %></td>
        <td><%= timetable.end_hour %>:<%= timetable.end_min %></td>
      </tr>
  <% }) %> -->
</table>
</div>
</div>
</body>

</html>
